*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding:1% 15% ;
    background-color:#FED600;
    /* border-bottom:1px solid lightgray; */
    z-index:2;
}
.nav img{
    width: 40%;
}
.nav ul{
    display: flex;
    list-style:none;
}
.nav li{
    padding-left:2rem;
}
.s{
    background-color:#FED600; 
}
.slide{
    position: relative;
    /* overflow:hidden; */
    width:60%;
    height:30rem;
    padding:10% 20%;
    background-color:#FED600;
}
.slide .content{
    width:45%;
}
.slide .content p{
    font-size:2.8rem;
    line-height:4rem;
}
.content img{
    margin-top:5%;
    width:20%;
}
.cus{
    position: absolute;
    top:20%;
    left:15%;
    opacity: 0;
    animation: sliding 15s infinite;
    transition: opacity 1s ease-in-out;
    display:flex;
}
.cus:nth-child(1){
    animation-delay: 0s;
}
.cus:nth-child(2){
    animation-delay: 5s;
}
.cus:nth-child(3){
    animation-delay: 10s;
}
@keyframes sliding{
    0%{
        opacity:0;
    }
    8%{
        opacity:1;
    }
    30%{
        opacity:1;
    }
    38%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
.slide:hover {
  animation-play-state: paused;
}
.cus .image{
    width:30%;
    padding-left:10%;
}
.image img{
    width:80%;
}
.name{
    display:flex;
    padding:0% 15% 3%;
}
.c1{
    width:20%;
    padding:0 5%;
    display:flex;
    justify-content:center;
}
